body{
    padding-left: 4em;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--body-color);
    background-color: var(--contrast-color);
}
h1, h2, h3{
    line-height: 1.2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--heading-color);
}

body#about img{
    height: 25em;
}
body#portfolio img{
    height: 25em;
}
p{
    max-width: 50em;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: var(--body-color);
    text-decoration-line: var(--contrast-color);
}
a:hover{
    color:lightyellow;
}
main{
    background-color: rgba(var(--light-color), 0.7);
}
:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: 95, 89, 81;
    --body-color: #A66D60;
    --heading-color: #BFA38A;
    --contrast-color: #591812;
}
body{
    display: grid;
    grid-template-areas: "head head"
                         "nav  nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 25em) {
    body{
    grid-template-areas: "head main"
                         "nav main"
                         "foot foot";
    grid-template-rows: auto 1fr auto;
    }

    body > nav{
        grid-area: "nav";
        padding-top: var(--vertical-space);
    }
}
body > *{
    padding-left: var(--horizontal-space);
}
body > header{
    grid-area: head;
}
body > nav{
    grid-area: nav;
}
body > nav ul{
    list-style-type: none;
    padding: 0;
}
body > nav ul li{
    display: inline;
    padding-right: 1rem;
}
body > main{
    grid-area: main;
}
body > footer{
    grid-area: foot;
}
body #portfolio ul #portfolioitems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 23em){
    body #portfolio ul #portfolioitems li{
    flex-basis: 48%;
    padding-right: 2%;
    }
}
body #portfolio ul #portfolioitems li img{
    max-width: 100%;
}
header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header{
    padding-bottom: 0;
}

header h1, footer h1{
    margin: 0;
}
header, nav, nav a{
    color: var(--heading-color);

}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: var(--light-color);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    color: lightyellow;
  }

  .back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: lightyellow;
    border: var(--light-color);
  }

  .back-to-top:hover {
    opacity: 80%;
  }

  .hidden {
    display: none;
  }

  .progress-bar {
    height: 1rem;
    background: var(--contrast-color);
    position: fixed;
    top: 0;
    left: 0;
  }
